   <title>All Product</title>
     </head>
     <body>
       <h1>All Product</h1>
       <h1><u>All Products:</u></h1>
         <% console.log(products) %>
     <% for(var i=0; i<products.length; i++) { %>
   <h1> <%= products[i].name %> </h1>
    <h1> <%= products[i]._id %> </h1>
   <p>
     <%= products[i].user%>
   <h1> (No. <%=(i+1)%>) Products Name: <%= products[i].name %> </h1>
    <h1> Products ID: <%= products[i]._id %> </h1>
   <p> <h3>Products User: <%= products[i].user%> </h3>
    </p>
   <h3><%= products[i].description%></h3>
<h3><%= products[i].price%></h3>
    <h3><%= products[i].quantity%></h3>
   <h3>Products description: <%= products[i].description%></h3>
   <h3>Products price: <%= products[i].price%></h3>
    <h3>Products quantity: <%= products[i].quantity%></h3>
     <% } %>
     </body>
 </html>
